<!-- ex. of ngIf directive use: <<nav *ngIf="!true"> ; navbar won't be visible if true -->
<nav>
  <ul class="pagination">

    <!--
        Use of ngClass attribute directive 
          - Use ngClass directive to add the 'disabled' class if the current page is equal to 0, meaning the page link is disabled in case the current page is equal to 0 (first page) 
          - Use event binding to decrement the current page by 1 
          - make use of own custom directive appClass
    -->

    <!-- <li class="page-item" appClass [ngClass]="{disabled: currentPage === 0}"></li> -->
    <!-- <li class="page-item" [ngClass]="{disabled: currentPage === 0}"> -->
    <!-- use appClass custom directive instead of builtin ngClass directive -->
    <li class="page-item" [appClass]="{disabled: currentPage === 0}">
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>
    <!--
        Use of ngFor structural directive, ngClass directive, ngIf structural directive, ng-container and event binding
          - Use ngFor structural directive to loop through images array and display each image in a list item with a link to the image page with the image index as the link parameter in the route path
          - Use ngClass directive in ngFor to set the 'active' class if the current page index is equal to the current page. [ngClass]="{ active: i === currentPage}" creates an object with a boolean property  'active' that is true if the current page index is equal to the current page
          - ngClass directive syntax: the key is the name of the class and the value is an object that contains the boolean property 'active' with a value of true if the current page index is equal to the current page
          - Use multiple directives on one element using Ng-Container
          structural directives modify the structure of an element => we can only apply one structural directive to any given element
          - We could use a new div element and in pthat way we can apply one directive to the div element and another directive to the li element - but the problem is that adding div - division - will break  the styling of buttons, etc so it's not a good idea to fix the multiple directives in one element that way
          - For multiple directives we will use ng-container directives
          - ng-container directive outputs the same element type as its enclosing element (for example, <li> -> <div> or <app-image> -> <div>)
          - Multiple structural directives can be filled inside the one ng-container and they will be treated as if they were surrounding the enclosing element because they are not nested
    -->

    <!--
        Combining structural and ngClass directives using ng-container
          - ng-container is a very special element
          - it doesn't actually create an element in the DOM
          - it only exists so we can apply multiple extra structural directives to the same element
          - it's like an invisible element, it's not shown on the html page
    -->

    <!-- use custom structural directive appTimes which reconstructs the ngFor structural directive -->
    <!-- <ng-container *appTimes="images.length; let i = index; let c = color">
      {{ c }} -->
    <ng-container *appTimes="images.length; let i = index;">
      <!-- <ng-container *ngFor="let image of images; let i = index;"> -->
      <li class="page-item" [ngClass]="{ active: i === currentPage}" *ngIf="checkWindowIndex(i)">

        <!-- 
        Other ways to make use of ngClass directive:
          - [ngClass] = " 'active' " => simply adds the 'active' class to the element (e.g. <li class="page-item active")
          - [ngClass] = "getClass()" => call a helper method from app component or whatever component it is tied to and inside that method we might have some logic to decide what list of classes we want to apply to this element
      -->

        <!-- 
          - Use interpolation to show the number of the image in the navbar
          - Use event binding to set the current page to the index of the image
        -->

        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>

    <!--
      - Use ngClass directive to add the 'disabled' class if the current page is equal to images.length - 1, meaning the page link is disabled in case the current page is equal to images.length - 1 (lst page)
      - Use event binding to increment the current page by 1 
    -->

    <li class="page-item" [ngClass]="{disabled: currentPage === images.length - 1}">
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <!-- use custom directive appClass with property backgroundColor, check the code and explenations from class.directive.ts -->
  <!-- <h4 appClass [backgroundColor]=" 'red' ">{{ images[currentPage].title }}</h4> -->
  <!-- using Aliasing -->
  <!-- <h4 [appClass]=" 'red' ">{{ images[currentPage].title }}</h4> -->
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url">
</div>

<!--
  Use of ngSwitch directive + ngSwitchCase + ngSwitchDefault
  - if the value from the ngSwitch is equal to the value of the ngSwitchCase then the ngSwitchCase div will be displayed
  - if none of the ngSwitchCase divs are displayed then the ngSwitchDefault div will be displayed
  - if you have multiple matches then all of them will be displayed
-->

<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    Current Page is zero
  </div>
  <div *ngSwitchCase="1">
    Current Page is one
  </div>
  <div *ngSwitchCase="2">
    Current Page is two
  </div>
  <div *ngSwitchCase="3">
    Current Page is three
  </div>
  <div *ngSwitchDefault>
    Unknown current page!
  </div>
</div> -->

<!-- use custom structural directive appTimes which reconstructs the ngFor structural directive -->
<!-- <ul *appTimes="5">
  <li>Hi there!</li>
</ul> -->